    <main>
      <div class="main_box">
        <div class="container">
          <div class="row">
            <div class="col-md-9 text-center">
              <h1 class="headline-text"><%= @post.title %></h1>
              <div class="text-left">
                <ul>
                  <%= image_tag("headless_horseman.jpg", class: "headless img-circle") %>
                  <li id="name"><%= @post.author %></li>
                  <li id="on">on</li>
                  <li id="date"><%= @post.created_at.strftime("%A %h %d %T") %> @</li>
                </ul>
              </div>
                <div class="fp">
                  <p><%= @post.body %></p>
                </div>
              <div class="text-left choices">
                <a href="#"><span class="glyphicon glyphicon-comment"></span>Read Comments</a>
                <a href="#"><span id="second" class="glyphicon glyphicon-cloud-upload"></span>Read Later</a>
                <a href="#"><span id="third" class="glyphicon glyphicon-share"></span>Share This Post</a>
              </div>

            </div>

            <div class="col-md-3">
              <div id="headless2" class="">
                <%= image_tag("headless_horseman.jpg", class: "headless2 img-circle") %>
              </div>
              <h4 class="name2 text-center">Anne Marie</h4>
              <ul class="links">
                <li id="twitter"><a href="#">Twitter</a></li>
                <li id="facebook"><a href="#">Facebook</a></li>
                <li id="instagram"><a href="#">Instagram</a></li>
              </ul>
              <div class="ad_space">
                <div class="evil_ad">
                  <a href="#"></a>
                </div>
                <a href="#"><h6 class="about_ad text-right">About This Ad</h6></a>
              </div>
              <h5 id="sidebar">SIDEBAR SELECTION HEADING</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="post-title">
      <div class="container">
        <div class="row text-center">
            <h1 id="popular">MOST POPULAR POSTS</h1>
        </div>
      </div>
    </div>
    <section class="image-links">
      <div class="image1">
        <a href="#">PLACE TO LIVE FOR</a>
      </div>
      <div class="image2">
        <a href="#">PLACE TO LIVE FOR</a>
      </div>
      <div class="image3">
        <a href="#">SOME TEXT HERE</a>
      </div>
      <div class="image4">
        <a href="#">MORE TEXT HERE</a>
      </div>
    </section>
  </body>
</html>

<!-- <div class="read-comments">
  <img src="http://iconshow.me/media/images/ui/ios7-icons/png/512/chatbubble-outline.png" alt="read-comments" />
</div>
<div class="share-post">
  <img src="http://png-2.findicons.com/files/icons/2315/default_icon/256/open_in_new_window_inv.png" alt="share-post" />
</div> Leaving these in for a better way to make the options for read-comments, etc.-->
